<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bankingappsparks">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.BankingAppSparks">
        <activity
            android:name=".Activities.TransferActivity"
            android:label="Transfer Funds"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".Activities.TransactionActivity"
            android:screenOrientation="portrait"
            android:label="Transactions history">

        </activity>
        <activity
            android:name=".Activities.UserAccountActivity"
            android:label="User Details"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".Activities.UserDetailsActivity"
            android:label="User Account"
            android:parentActivityName=".Activities.UsersListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.UsersListActivity"
            android:label="Select User"
            android:parentActivityName=".Activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BankingAppSparks1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BankingAppSparks1">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>